@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

:root {
/* ### Primary */

--bright-orange: hsl(31, 77%, 52%);
--dark-cyan: hsl(184, 100%, 22%);
--very-dark-cyan: hsl(179, 100%, 13%);

/* ### Neutral */

  /* Paragraphs */
--transparent-white: hsla(0, 0%, 100%, 0.75);

  /* Background, Headings, Buttons */
--very-light-gray: hsl(0, 0%, 95%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-light-gray);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  color: var(--very-light-gray);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}

/* CARD */

.card {
  display: flex;
  width: 40.25rem;
  height: 21.5rem;
  text-align: left;
}

/* CARD SEDANS */

.card .card_sedans {
  background-color: var(--bright-orange);
  border-radius: 0.4rem 0 0 0.4rem;
}

.card .card_sedans button{
  color: var(--bright-orange)
}

/* CARD SUVS */

.card .card_suvs {
  background-color: var(--dark-cyan);
}

.card .card_suvs button{
  color: var(--dark-cyan)
}

/* CARD LUXURY */

.card .card_luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0.4rem 0.4rem 0;
}

.card .card_luxury button{
  color: var(--very-dark-cyan);
}


/* SHARED STYLES CARD */
.card .card_sedans, .card .card_suvs, .card .card_luxury {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  text-align: left;
  padding: 2rem;
}

.card .card_sedans img, .card .card_suvs img, .card .card_luxury img {
  width: 2.9rem;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
}

.card .card_sedans h1, .card .card_suvs h1, .card .card_luxury h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.card .card_sedans p, .card .card_suvs p, .card .card_luxury p {
  color: var(--transparent-white);
  font-size: 0.7rem;
  text-align: left;
  margin-bottom: 3.5rem;
  line-height: 1rem;
  word-spacing: -1px;
}

.card .card_sedans button, .card .card_suvs button, .card .card_luxury button {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.7rem;
  min-width: 6.5rem;
  min-height: 2.25rem;
  padding: 1rem;
  border: none;
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.card .card_sedans button:hover, .card .card_suvs button:hover, .card .card_luxury button:hover {
  cursor: pointer;
  color: var(--very-light-gray);
  border: 0.1rem solid var(--very-light-gray);
  background-color: transparent;
}

/* FOOTER */
.attribution {
   font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* MEDIA QUERY - MOBILE */

@media only screen and (max-width: 500px) {

  /* CARD */
  .card {
    max-width: 58%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* CARD SEDANS */

  .card .card_sedans {
    border-radius: 0.4rem 0.4rem 0 0;
  }

  /* CARD LUXURY */

  .card .card_luxury {
    border-radius: 0 0 0.4rem 0.4rem;
  }


  /* SHARED STYLES CARDS */
  .card .card_sedans, .card .card_suvs, .card .card_luxury {
    height: 20rem;
  }

  .card .card_sedans img, .card .card_suvs img, .card .card_luxury img {
    margin-top: 1rem;
  }

  .card .card_sedans p, .card .card_suvs p, .card .card_luxury p {
    font-size: 0.65rem;
    text-align: left;
    margin-bottom: 1rem;
  }

  .card .card_sedans button, .card .card_suvs button, .card .card_luxury button {
    margin-bottom: 1rem;
  }
}